#x-axis{
  text-align:center;
  position:absolute;
  top:50%;
  width:100%;
  height:1px;
  visibility:hidden;
  }

/*Scrolling text bar*/
div#marquee{
  width:100%;
  height:100px;
  line-height:100px;
  position:absolute;
  top:-50px;
  overflow:hidden;
  font-weight:bold;
  font-family:Ubuntu, Garamond, sans-serif;
  visibility:visible;
  } 
div#innerMarquee { margin-left:600px; } 
#innerMarquee > *{
  color:white;
  font-size:40px;
  font-family:Ubuntu, Garamond, sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  }

/*Misc*/
body{
  background:url('/static/img/carlton.jpg') no-repeat center center fixed;
  background-size:100% 100%;
}

.bgmusic{display:hidden}
