body{
  background-color: #EAEAEA;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
}
h1{
  text-align: center;
  padding-top: 10%;
  color: white;
  text-shadow:
    1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
  font-size: 3em;
  filter: none;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header{
  top: 0px;
  background-size: 100% 100%;
}

main{
  padding: 10em 3em ;
  width: 100%;
}
main > *{
  background-color: #FAFAFA;
  border-radius: 3px;
  padding: 1em;
  position: absolute;
  width: 30%;
  border-left: 4px solid;
}

#left{
  border-left-color: #8C3030;
  box-shadow: 0 1px 3px 0 rgb(78, 20, 20);
  left: 10%;
}
#left button{
  background-color:#BD5454;
  border:none;
  border-radius:3px;
  padding:0.5em;
  color:whitesmoke;
  box-shadow: 0 1px 2px 1px #870A0A;
}

#reddit{
  border-left-color: rgb(22,162,162);
  box-shadow: 0 2px 3px 0 #16A2A2;
  right: 10%;
}
table{
  width:100%;
}
td button{
  width: 100%;
}
form[action="add"]{
  display: flex;
  justify-content: space-between;
}