*{
  font-family:sans-serif;
  }

a{text-decoration:none}
a:link{color:black}
a:visited{color:black;}
a:hover{color:blue}
a:active{color:#003300}

.logo{
  display:block;
  height:64px;
  width:46px;
  }

.outerReddit, .category{
  color: darkgray;
  }
#activeRedditSort{
  color: black;
  font-weight: bold;
  }
#reddit h4{
  text-align:center;
}
#reddit hr{
  color: whitesmoke;
  opacity: 0.5;
  width: 90%;
  }

.outsideReddit{
  margin-right:10px;
  margin-top:10px;
  width:35%;
  }

.innerReddit:hover{
  background-color:#F5FFFF;
  box-shadow: 0 0 5px -1px #888;
  -moz-box-shadow: 0 0 5px -1px #888;
  -webkit-box-shadow: 0 0 5px -1px #888;
  }

.categories{
  /* border-bottom: 1px solid gray; */
  display: flex;
  justify-content: center;
}
.categories a{
  padding: 1em;
}

.category:hover{
  background-color:#E0FFFF;
  }

.category{
  border-left:0px;
  display:inline;
  padding: 0.5em;
  }

.innerReddit{
  border-radius: 0;
  opacity:inherit;
  padding:5px;
  }

.innerReddit p{
  color:gray;
  font-size:10px;
  }
.innerReddit h4{
  font-weight: 500;
}
