@import url(http://fonts.googleapis.com/css?family=Share+Tech|Raleway:200|Roboto:100);
*{
  font-size:24px;
  font-family:Ubuntu, Segoe UI, sans-serif;
  color:whitesmoke;
  text-shadow:0 0 3px black;
}

input, button{
  color:black;
  text-shadow:none;
}

a{
  text-decoration:none;
  color:black;
}

a:hover{color:white}
button{
  color:black;
  text-shadow:none;
}
.slider{
  font-size:75%;
  cursor:pointer;
  color:rgba(255,255,255,0.8);
  text-shadow:0 0 1px black;
}
#loader{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index:9999;
  background:url('/static/icons/loader.gif') 50% 50% no-repeat #F9F9F9;
}

#ajax > div{display:block !important}

#main{
  padding:2em;
  position:relative;
  box-shadow:0px 0px 5px 5px gray;
  border-radius:4px;
  background: url('/static/img/Monkee_Boy_Blurred_Backgrounds/bkg-3.jpg') no-repeat;
  background-size: cover;
  /* background-color:rgb(240, 240, 240); */
}

#oembed *{display:default}

#city{
  font-size:2em;
  display:inline;
}

#suggestions > ul{
  position:relative;
}

.closed > *:nth-child(2){display:none}

#temp{
  float:right;
  text-align:right;
  top:0em;
  display:inline;
  position:absolute;
  right:3%;
  width:40%;
  font-size:100%;
  height:90%;
}

#current_temp{
  font-family:"Roboto", sans-serif;
  font-size:8em;
}

.highlow{
  font-family:"Raleway", sans-serif;
  font-size:4em;
  margin-top: 0.2em;
}

.highlow *{font-size:1em}

.high{color:red;}
.low{color:blue;}

#help{width:50%}
code{
  background-color:#AAA;
  padding:5px;
  font-family:Share Tech, Droid Sans Mono, Lucida Sans Console, sans-serif;
  color:white;
  letter-spacing:1px;
  box-shadow:0 0 5px #AAA;
}

.getLocation{
  height: 2em;
  display: inline-block;
  cursor: pointer;
}
#newLocation{
  display: inline-block;
  padding:0.2em;
  border-radius:3px;
}
#newLocation input{
  border:none;
}
#newLocation, #newLocation *{
  background-color:white;
}
button{
  border:none;
  cursor:pointer;
}
button img{
  height:1em;
  width:1em;
}