*{font-family:Ubuntu, Segoe UI, sans-serif}

.outerWeather{
  position:relative;
  border:2px solid gray;
  border-radius:20px;
  padding:10px;
  background:url('/static/icons/weatherbg.png');
  background-size:100% 100%;
  opacity:0.55;
  margin-left:10%;
  }

#radar{
  height:200px;
  width:200px;
  border:1px solid black;
  border-radius:10px;
  }

#temp{
  position:absolute;
  font-size:48px;
  right:10px;
  top:5px;
  }

#radar, .twitter-tweet{
  display:inline !important;
  }

.twitter-tweet{
  margin-left:80px !important;
  }

input[type='text']{
  background-color:#66FFCC;
  opacity:0.7;
  }
