$def with()
<!DOCTYPE html>
<html>
    <head>
        <title>404 Error</title>
        <link type='text/css' rel='stylesheet' href='/static/styles/bday.css' />
        <link type='image/gif' rel='shortcut icon' href='/static/icons/colors.gif' />
        <script type="text/javascript" src='/static/scripts/scroll.js' ></script> 
    </head>
    <body>
        <embed class='bgmusic' src="/static/user/notunusual.mid" loop='true'>
        <div id='x-axis'>
            <div id='marquee' onclick='toggleMarquee(); return false;' title="Click to stop/start Marquee"> 
                <div id='innerMarquee'><h1>Page Not Found!</h1></div>
            </div>
        </div>
    </body>
</html>
