$def with(title, todos, file_too_big, posts)
$var title:$title
$var css:style.css reddit.css
$var js:reddit.js
<!-- <!DOCTYPE html>
 <html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>$title</title>
    <link type='text/css' rel='stylesheet' href='/static/styles/style.css' />
    <link type='text/css' rel='stylesheet' href='/static/styles/reddit.css' />
    <link type='image/gif' rel='shortcut icon' href='/static/icons/colors.gif' />
    <script type='text/javascript' src='/static/scripts/jquery-2.0.2.min.js'></script>
    <script type='text/javascript' src='/static/scripts/reddit.js'></script>
  </head>
  <body> -->
<div class='outsideReddit' style='float:right'>
  <img class='logo' src='/static/img/reddit-alien.png' align="middle" />
  <div class=categories>
    $for cat in ['Hot', 'New', 'Top', 'Controversial']:
        <div class='category'>
          <a href='#'>$cat</a>
        </div>
  </div>
  <div class='outerReddit'>
    $for post in posts:
        <div class='innerReddit'>
          <h4><a href=$post['url']>$post['title']</a></h4>
          <p>Posted by
            <a href="http://reddit.com/u/$post['author']">$post['author']</a>
          to <a href="http://reddit.com/r/$post['subreddit']">$post['subreddit']</a></p>
          <p><a href="http://reddit.com$post['permalink']">Comments: $post['num_comments']</a></p>
        </div>
  </div>
</div>

<div>
  <table>
  <th>Database Items</th>
  $for todo in todos:
      <tr>
        <td>$todo.title</td>
        <td>
          <form method='post' action='remove/$todo.id'>
            <input type='submit' value="Delete">
          </form>
        </td>
      </tr>
  </table>
  <br/>
  <form method='post' action='add'>
    <input type='text' name='title' >
    <input type='submit' value='Add' >
  </form>
  <br/>
</div>

<div>
  <p>Upload a background image:</p>
  <form id='bgAdd' method='post' enctype='multipart/form-data' action='bg_add'>
    <input type='file' name='bgimg' accept='image/*, audio/midi'>
    <input type='submit' value='Submit'>
    $if file_too_big:
        <script type='text/javascript'>alert('File too big!')</script>
  </form>
</div>

<div><embed src="static/user/bg.mid" loop='true'></div>

<script type='text/javascript'>
  window.onload = function(){document.body.style.backgroundImage = 'url(/static/user/bg.jpg)'};
</script>
<!-- </body>
<html> -->
