$def with(posts)
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Reddit Frontpage</title>
    <link type='text/css' rel='stylesheet' href='static/css/reddit.css'>
    <script type='text/javascript' src='static/js/jquery-2.0.2.min.js'></script>
    <script async type='text/javascript' src='static/js/reddit.js'></script>
  </head>
  <body>
    <div class='outsideReddit'>
      <img class='logo' src='/static/img/reddit-alien.png' align="middle" />
      <div class=categories>
        $for cat in ['Hot', 'New', 'Top', 'Controversial']:
            <div class='category'>
              <a href='#'>$cat</a>
            </div>
      </div>
    <div class='outerReddit'>
      $for post in posts:
          <div class='innerReddit'>
            <h4><a href=$post['url']>$post['title']</a></h4>
            <p>Posted by <a href="http://reddit.com/u/$post['author']">$post['author']</a> to <a href="http://reddit.com/r/$post['subreddit']">$post['subreddit']</a></p>
            <p><a href="http://reddit.com$post['permalink']">Comments: $post['num_comments']</a></p>
          </div>
      </div>
    </div>
  </body>
</html>
