$def with(phrase, users, categories, active)
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Who Said It? - The latest Twitter Craze!</title>
        <link type='text/css' rel='stylesheet' href='/static/styles/twitter.css' />
        <script type='text/javascript' src='/static/scripts/jquery-2.0.2.min.js'></script>
        <script async type='text/javascript' src='/static/scripts/twitter.js'></script>
        <script type='text/javascript'>
            $$(window).load(function(){
                $$('#loader').fadeOut('slow');
            });
        </script>
    </head>
    <body>
        <div id='loader'></div>
        <h1>Who said:</h1>
        <blockquote>$phrase</blockquote>
            <br/>
            <div class='users'>
            $for user in users:
                <div class='user'>
                    <a href='#'><
                        img class='choice' id=$user.screen_name src=$user.profile_image_url.replace('_normal','') />
                    </a>
                    <p class='name'>$user.name</h5>
                    <p class='username'>@$user.screen_name</h6>
                </div>
            </div>
            <div class='categories'>
                <h5>Categories</h5>
                $for category in categories:
                    $if category == active:
                        <a href='#'>
                            <span style='display: block;' class='category' name=$category id='activeCategory'>$category</span>
                        </a>
                    $else:    
                        <a href='#'>
                            <span style='display: block;' class='category' name=$category>$category</span>
                        </a>
            </div>
            <br/>
            <div id='outerResult'>
                <div id='innerResult'></div>
                <a href='/twitter'>
                    <span style='display: block;' id='tryAgain'>Try Again</span>
                </a>
            </div>
        </body>
    </html>

