$def with()
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Weather Revamped!</title>
    <link type='text/css' rel='stylesheet' href='/static/css/weather2.css'>
    <script src='/static/js/jquery-2.0.2.min.js'></script>
    <script src='/static/js/OpenLayers.js'></script>
    <script>var defaultLocation = $session.prevLocation</script>
    <script async src='/static/js/weather.js'></script>
    <script>
      $$(window).load(function(){
        $$('#loader').fadeOut('slow');
      });
    </script>
  </head>
  <body>
    <div id='main'>
      <div id='ajax'></div>
      <div id='left'>
        <div id='city'></div>
        <img class='getLocation' src='/static/img/Map-Location-128.png' onclick='getLocation()'>
        <div id='suggestions' class='closed'>
          <p class='slider'>Other Suggestions (click to open/close):</p>
          <ul></ul>
        </div>
        <div id='oembed'></div>
        <form id='newLocation'>
          <label form='newLocation'>
            <input type='text' name='location'>
          </label>
          <button type='submit'><img src='/static/img/Search-Find-128.png'></button>
        </form>
      </div>
      <div id='right'>
        <div id='temp'>
          <span id='current_temp'></span>
          <p class='conditions'></p>
          <p class='highlow'></p>
        </div>
      </div>
    </div>
    <script>getLocation();</script>
  </body>
</html>
