<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Weather Revamped!</title>
    <link type='text/css' rel='stylesheet' href='/static/css/weather2.css'>
    <script src='/static/js/jquery-2.0.2.min.js'></script>
    <script src='/static/js/OpenLayers.js'></script>
    <script>var defaultLocation = $session.prevLocation</script>
    <script async src='/static/js/weather.js'></script>
    <script>
      function getLocation(){
        //var x = document.getElementById('crosshair');
        if (navigator.geolocation){
          navigator.geolocation.getCurrentPosition(showPosition);
        }else{
          console.log('Please use a less crappy browser (one that supports Geolocation).');
        }
      }
      function showPosition(position){
        getWeather(query=null, lat=position.coords.latitude, lon=position.coords.longitude);
      }
    </script>
    <script>
      $$(window).load(function(){
        $$('#loader').fadeOut('slow');
      });
    </script>
  </head>
  <body>
    <div id='main'>
      <div id='ajax'></div>
      <div id='left'>
        <div id='city'></div>
        <div id='suggestions' class='closed'>
          <p class='slider'>Other Suggestions (click to open/close):</p>
          <ul></ul>
        </div>
        <div id='oembed'></div>
        <form id='newLocation'>
          <label form='newLocation'>
            Change Your Location:
            <input type='text' name='location'>
          </label>
          <button type='submit'>Search</button>
        </form>
        <svg id='crosshair' height='100' width='100' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/xlink' onclick='getLocation();'>
          <g transform='scale(0.1)'>
            <image alt="Click here to select your current location" x='0' y='0' width='730' height='1000' xlink:href='/static/img/crosshair.svg'>
          </g>
        </svg>
      </div>
      <div id='right'>
        <div id='temp'>
          <span id='current_temp'></span>
          <p class='conditions'></p>
          <p class='highlow'></p>
        </div>
      </div>
    </div>
  </body>
</html>