*{
  font-family:sans-serif;
  }

a{text-decoration:none}
a:visited{color:#660066}
a:hover{color:#003300}

.outsideReddit{
  width:35%;
  margin-right:10px;
  margin-top:10px;
  }

.logo{
  height:64px;
  width:46px;
  display:block;
  }

.outerReddit, .category{
  background-color:#DDFFFF;
  opacity:0.7;
  border:2px solid gray;
  }

.innerReddit:hover{
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888;
  }
.category:hover{
  -moz-box-shadow: 0 0 1px 1px #888;
  -webkit-box-shadow: 0 0 1px 1px #888;
  box-shadow: 0 0 1px 1px #888;
  }

.category{
  display:inline;
  padding-left:5px;
  padding-right:5px;
  border-left:0px;
  }
.category:first-child{border-left:2px solid gray}

.innerReddit:first-child{border-top:none}

.innerReddit{
  border-top:1px solid gray;
  padding:5px;
  opacity:inherit;
  }

.innerReddit > h4{
  font-weight:normal;
  color:blue;
  }

.innerReddit p{
  color:gray;
  font-size:10px;
  }
