*{
  font-size:24px;
  font-family:Ubuntu, Segoe UI, sans-serif;
  }

a{
  text-decoration:none;
  color:black;
  }

a:hover{color:#0000CC}

#loader{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index:9999;
  background:url('/static/icons/loader.gif') 50% 50% no-repeat #F9F9F9;
  }

#ajax > div{display:block !important}

#main{
  padding:1em;
  position:relative;
  box-shadow:0px 0px 5px 5px gray;
  border-radius:4px;
  }

#oembed *{display:default}

#city{
  font-size:2em;
  display:inline;
  }

#suggestions > ul{
  position:relative;
  }

.closed > *:nth-child(2){display:none}

#temp{
  float:right;
  text-align:right;
  top:-3.5em;
  display:inline;
  position:relative;
  right:0.1em;
  font-size:4em;
  }

#temp *{font-size:42px}

.high{color:red}
.low{color:blue}

code{
  background-color:#D0D0D0;
  border-radius:2px;
  padding:2px;
  font-family:Droid Sans Mono, Lucida Sans Console, serif;
  }
